body{
  font-family: 'StMarie';
}
.App{
  position: relative;
  text-align: center;
  background-color: transparent;
}

.App #portada{
  width: 100%;
  max-width: 800px;
  margin: 0px auto 0px auto;
}

.DatosHome{
  font-size: 10px;
  text-align: center;
  color: #989fa1;
  width: 100%;
  padding: auto;
  padding-top: 4vh;
  margin: auto;
  margin-top: 3vh;
  
}
.Rsvp1{
  text-align: center;
  margin-top: 20px;
}
.ReservaAdicional{
  margin: auto;
  text-align: center;
  margin: 30px auto 0 auto;
}
.ImageSplitter{
  display: flex;
  flex-flow: wrap;
  width: 100%;
  gap: 10px;
  justify-content: center;
  margin: 20px 0 20px 0;
}
.ImageSplitter img{
  width: 70%;
}

.DatosHome .InputButton{
  margin-top: 10px;
}
.DatosHome .InputText{
  margin-top: 20px;
}

.Footer{
  display: flex;
  justify-content: center;
  margin: 7vh 0 7vh 0;
  align-items: center;
  gap: 5%;
}
.Footer img{
  max-width: 30%;
}
.Footer h1{
  font-size: 3vw;
}
@font-face {
  font-family: 'StMarie';
  src: url('./resources/stmarie.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lovely';
  src: url('./resources/ttlovelies.ttf');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 768px) {
  .DatosHome{
    margin-top: 40px;
  }
  .DatosHome h1{
    font-size: 30px;
  }
  .DatosHome h2{
    font-size: 20px;
  }
  .DatosHome .DividedSection p{
    font-size: 30px;
  }
}
@media(min-width: 1024px){
  .DatosHome{
    margin-top: 9vh;
    margin-bottom: 5vh;
  }
  .DatosHome h1{
    font-size: 40px;
  }
  .DatosHome h2{
    font-size: 30px;
  }
  .DatosHome .DividedSection p{
    font-size: 40px;
  }
  .Footer{
    margin-top: 10vh;
  }
  .Footer img{
    max-width: 15%;
  }
  .Footer h1{
    font-size: 1.5vw;
  }
  .App #portada{
    margin: 20px auto 0px auto;
  }
  .ImageSplitter img{
      width: 30%;
    
  }
}

@media(min-width: 2500px){
  .DatosHome{
    margin-top: 9vh;
    margin-bottom: 5vh;
  }
  .DatosHome h1{
    font-size: 70px;
  }
  .DatosHome h2{
    font-size: 50px;
  }
  .DatosHome .DividedSection p{
    font-size: 60px;
  }
  .Footer{
    margin-top: 10vh;
  }
  .Footer img{
    max-width: 15%;
  }
  .Footer h1{
    font-size: 1.5vw;
  }
}
